{
  "hooks": {
    "prepare-commit-msg": "git cz --hook --non-interactive --type=feat --subject=\"added new features\" || true",
    "pre-commit": "npm run pretty && npm run lint:staged && npm run all"
  }
}
